@import "variables";

.clear {
  clear: both;
}

.topic-wrapper {
  width: 100%;
  top: 1rem;
  position: relative;
  padding: 25px 11px;
  padding-top: 0;
  box-sizing: border-box;
  background: #f0f0f0;
  height: auto;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto; 
}
.topic-desc {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0 atuo;
  padding: 0 19px;
  box-sizing: border-box;
  // border: 1px solid blue;
  background: #fff;
  border-radius: 8px;
  padding-bottom: 15px;
  margin-top: .2rem;
  .topic-tag{
    position: absolute;
    right: 0;
    top:- 0.07rem;
    span{
      &:before{
        position: absolute;
        content: "";
        width:0;
        height: 0;
        border-left: 0.07rem solid transparent;
        border-right: 0.07rem solid transparent;
        border-bottom: 0.07rem solid #5eceb8;
        left: -0.07rem;
        top:0;
      }
      &:after{
        position: absolute;
        content: "";
        width:0;
        height: 0;
        border-left: 0.07rem solid transparent;
        border-right: 0.07rem solid transparent;
        border-bottom: 0.07rem solid #5eceb8;
        right: -0.07rem;
        top:0;
      }
      position: relative;
      display: block;
      height: 0.4rem;
      font-size: 0.18rem;
      padding: 0 0.2rem;
      line-height: 0.4rem;
      color: #ffffff;
      background-color: #5eceb8;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      float: right;
      margin-right: 0.2rem;
    }
  }

  .desc-header {
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    .expert-text {
      display: table-cell;
      height: 64px;
      vertical-align: middle;
      padding-left: 10px;
      .expert-name {
        font-size: 16px;  
        color: #333;
      }
      .expert-school {
        font-size: 11px;
        margin-top: 8px;
        color: #999;
      }
    }
    .expert-info {
      height: 64px;
      img {
        float: left;
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
      .price {
        display: inline-block;
        float: right;
        height: 64px;
        line-height: 64px;
        span {
          font-size: 16px;
          color: $blue-color;
        }
      }
    }

  }

  .title {
      display: block;
      span{
        display: inline-block;
        overflow: hidden;
      }
      .order-title{ 
        display: block;
        padding-top:18px;    
        font-size: 17px; 
        color: #333333;
        line-height: 1.5em;
        word-break: break-all; 
        word-wrap:break-word;
      }
      .order-time,.order-num{
        position: relative;
        padding-top: 10px;
        font-size: 11px;
        color: #999;
        padding-left: 13px;
        &:before{
          position: absolute;
          display: block;
          content: "";
          left: 0;
          top:10px;
          width: 11px;
          height: 11px;
          background-image: url(../images/icon/time.png);
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
      }
      .order-num{
        margin-left:3em;  
        &:before{
          background-image: url(../images/icon/ic_number.png);
        }
      }
  }
  .topic-content {
    padding-top: 2em;
    line-height: 1.5em;
    font-size: 16px;
    img{
      display: block;
      margin: 0.5em 0 0 0;
      width: 100%;
      height: auto;
    }
    a{
      text-decoration: none;
      color: #18aef9;
      padding: 0 0.5em;
    }
    p { 
      margin: 0.5em 0 0 0;
      color: #666;
    }
  }
  .order-count {
    position: relative;
    margin-top: 16px;
    float: right;
    font-size: 11px;
    color: #333;
    padding-left: 18px;
    &:before{
      position: absolute;
      left: 0;
      content: "";
      height: 11px;
      width: 11px;
      background-image: url(../images/icon/ic_number.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
    }
  }
}


//latestComment
.comment-wrap, .msg-wrap {
  width: 100%;
  height: auto;
  margin-top: 0 atuo;
  padding: 20px 19px;
  min-height: 50px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  margin-top: 15px;
  padding-bottom: 15px;
  .title {
    height: 17px;
    line-height: 17px;
    border-left: 3px solid #18aef9;
    padding-left: 8px;
    font-size: 15px;
    margin-bottom: 1em;
  }
  .comment-user-info, .msg-user-info {
    border-top: 1px solid #f0f0f0;
    padding-top: 1em;
  }
.comment-content {
  margin:1.5em 0 1em;
}
  .comment-inf:nth-child(1){
    padding-top: 19px;
  }
  .comment-info, .msg-info {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
    .comment-text {
      float: left;
      padding-top: 10px;
    }
    .comment-text, .msg-text {
      display: table-cell;
      height: 55px;
      vertical-align: middle;
      padding-left: 10px;
      .comment-name, .msg-name {
        font-size: 15px;  
        color: #333;
      }
      .comment-time, .msg-time {
        font-size: 11px;
        margin-top: 8px;
        color: #999;
      }
    }
    .comment-start {
      display: inline-block;
      float: right;
      padding-top: 15px;
      box-sizing: border-box;
      img {
        width: .3rem;
        height: .3rem;
        margin-left: .05rem;
        border-radius: 0;
      }
    }
    img {
      float: left;
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }
    .price {
      display: inline-block;
      float: right;
      height: 55px;
      font-size: 16px;
      line-height: 55px;
      span {
        color: $blue-color;
      }
    }
  }
  .msg-content {
    margin: 1em 0;
    word-break: break-all; 
    word-wrap:break-word;
  }
  .msg-reply{
    display: block;
    padding:1em 0;
    border-top: 1px dashed #efefef;
    word-break: break-all; 
    word-wrap:break-word;
    span{
      font-size: 14px;
      padding:0 0.1em;
      line-height: 1.5em;
    }
    span:nth-child(1),span:nth-child(3){
        color: #18aef9;
    }
  }
  .comment-content, .msg-content {
    p {
      color: #666;
      font-size: 15px;
      line-height: 1.5;
      word-break: break-all; 
      word-wrap:break-word;
    }
  }

  .more-comment {
    width: 100%;
    text-align: center;
    span {
      display: inline-block;
      width: 1.5rem;
      height: .5rem;
      line-height: .5rem;
      font-size: 12px;
      color: #18aef9;
      border: 1px solid #18aef9;
      border-radius: 5px;
      margin-top: 15px;
      cursor: pointer;
    }
  }
}

//最新留言
.msg-wrap {
  .msg-info {
    border-bottom: none;
  }
  .no-message {
    min-height: 330px;
    background-image: url(../images/no_msg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    // border: 1px solid red;
    box-sizing: border-box;
    margin-top: 15px;
    border-top: 1px solid #f0f0f0;
  }
}





