.answer-detail{
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow: hidden;
}

.answer-detail-question{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	background-color: #ffffff;
	padding: 0.3rem;
	border-radius: 5px;
	margin-top: 0.2rem;
}
.answer-detail-question-header{
	position: relative;
	display: block;
	overflow: hidden;
	height: 0.6rem;
	padding: 0 1.2rem 0 0.8rem;
	.answer-detail-question-person-icon{
		position: absolute;
		display: block;
		width: 0.6rem;
		height: 0.6rem;
		border-radius: 0.6rem;
		left: 0;
		top:0;
	}
	.answer-detail-question-title{
		display: block;
		line-height: 0.6rem;
		color: #969696;
		font-size: 0.24rem;
		white-space:nowrap;
		overflow:hidden; 
		text-overflow:ellipsis;
	}
	.answer-detail-question-price{
		position: absolute;
		display: block;
		width: 1.2rem;
		right: 0;
		top:0;
		font-size: 0.36rem;
		color: #ff6600;
		line-height: 0.6rem;
		text-align: right;
	}
}
.answer-detail-question-text{
	padding-top: 0.2rem;
	display: block;
	font-size: 0.36rem;
	color: #333333;
	line-height: 1.5em;
}

.answer-detail-answer{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	background-color: #ffffff;
	padding: 0.3rem;    
	margin-top: 0.2rem;
	border-radius: 5px;
}
.answer-detail-answer-header{
	position: relative;
	display: block;
	overflow: hidden;
	height: 1rem;
	padding: 0 0 0 1.2rem;
	.answer-detail-answer-person-icon{
		position: absolute;
		display: block;
		width: 1rem;
		height: 1rem;
		border-radius: 1rem;
		left: 0;
		top:0;
	}
	.answer-detail-answer-person{
		position: relative;
		display: block;
		height: 0.6rem;
		line-height: 0.6rem;
	}
	.answer-detail-answer-person-name{
		float: left;
		display: block;
		font-size: 0.34rem;
		color: #323232;
		white-space:nowrap;
		overflow:hidden; 
		text-overflow:ellipsis;
	}
	.answer-detail-answer-person-right{
		float: right;
		display: block;
		font-size: 0.22rem;
		line-height: 0.22rem;
		color: #999999;
		padding-top: 0.19rem;
	}
	.answer-detail-answer-person-paymentTimes{
		float: left;
		margin-right: 0.32rem;
	}
	.answer-detail-answer-person-unworth{
		position: relative;
		float: left;
		padding-left: 0.37rem;
		min-width: 0.26rem;
		height:0.26rem; 
		&:before{
			position: absolute;
			content: " ";
			width: 0.26rem;
			height: 0.26rem;
			background-image: url(../../images/answer-unworth.png);
			background-size: 0.26rem 0.26rem;
			background-repeat: no-repeat;
			background-position: 0 0;
			left:0;
			top:0;
		}
	}
	.answer-detail-answer-person-major{
		clear: both;
		display: block;
		font-size: 0.26rem;
		color: #666666;
		height: 0.4rem;
		white-space:nowrap;
		overflow:hidden; 
		text-overflow:ellipsis;
	}
}
.answer-detail-text,
.answer-detail-audio{
	position: relative;
	display: block;
	margin-top: 0.3rem;
	width: 5.6rem;
	height: 0.8rem;
	background-size: 100% auto;
	background-repeat: no-repeat;
	.answer-detail-desc{
		padding-left: 0.95rem;
		line-height:0.8rem;
		color: #ffffff;
		font-size: 0.3rem;
	}
}
.answer-detail-text{
	background-image: url(../../images/answer-text-back.png);
}

.answer-detail-audio{
	background-image: url(../../images/answer-audio-back.png);
	.answer-detail-audio-timer{
		position: absolute;
		display: block;
		width: 0.8rem;
		top:0;
		right: 0;
		line-height:0.8rem;
		color: #ffffff;
		font-size: 0.3rem;
		text-align: center;
	}
	&.answer-detail-audio-paid{
		background-image: url(../../images/answer-audio-back-paid.png);
	}
	&.answer-detail-audio-play{
		background-image: url(../../images/audio-play.gif);
	}
}

.answer-detail-text-description{
	padding-top: 0.24rem;
	position: relative;
	display: block;
	font-size: 16px;
	color: #333333;
	letter-spacing: 1px;
	line-height: 1.7em;
	overflow: hidden;
	word-break: break-all; 
    word-wrap:break-word;
	font-weight: 100;
	p{
		padding-top: 1em;
	}
	img{
		display: block;
		padding-top: 1em;
		width: 100%;
		height: auto;
	}
	p:first-child{
		padding-top: 0;
	}
	img:first-child{
		padding-top: 0;
	}
}
.answer-detail-audio-controls{
	visibility: hidden;
}


.answer-detail-comments{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	background-color: #ffffff;
	padding: 0 0.3rem;    
	margin-top: 0.2rem;
	border-radius: 5px;
}
.answer-detail-comments-header{
	position: relative;
	display: block;
	width: 100%;
	height: 0.79rem;
	font-size: 0.32rem;
	line-height: 0.32rem;
	color:#333333;
	padding: 0.28rem 1.5rem 0.2rem 0.16rem;
	border-bottom: #e6e6e6 solid 1px;
	&:before{
		position: absolute;
		display: block;
		content: "";
		width: 0.05rem;
		height: 0.32rem;
		background-color: #18aef9;
		border-radius: 3px;
		left: 0;
		top:0.27rem;
	}
	.answer-detail-comments-header-title{
		display: block;
		height: 0.32rem;
		width: 100%;
	}
	.answer-detail-comment-btn{
		position: absolute;
		display: block;
		font-size: 0.3rem;
		width: 1rem;
		height: 0.32rem;
		right: 0.2rem;
		color: #18aef9;
		top:0.27rem;
		padding:0 0 0 0.4rem;
		background-image: url(../../images/answer-liuyan.png);
		background-position: 0 0;
		background-size: 0.32rem 0.3rem;
		background-repeat: no-repeat;
	}
}
.answer-detail-comments-null{
	position: relative;
	display: block;
	text-align: center;
	.answer-detail-comments-null-back{
		margin:1.05rem auto 0;
		display: block;
		width: 2.9rem;
		height: 1.28rem;
	}
	.answer-detail-comments-null-msg{
		margin:0.45rem 0 1rem;
		display: block;
		color: #d4d4d4;
		font-size: 0.28rem;
	}
}
.answer-detail-comments-paid-null{
	position: relative;
	display: block;
	text-align: center;
	.answer-detail-comments-paid-null-back{
		margin:0.3rem auto 0;
		display: block;
		width: 4.03rem;
		height: 2.28rem;
	}
	.answer-detail-comments-paid-null-msg{
		margin:0.45rem 0 1rem;
		display: block;
		color: #d4d4d4;
		font-size: 0.28rem;
	}
}


.answer-detail-comment{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	display: block;
	padding: 0.26rem 0 0.24rem;
	border-bottom: #f0f0f0 solid 1px;
}
.answer-detail-comment-header{
	position: relative;
	display: block;
	overflow: hidden;
	height: 0.8rem;
	padding: 0 0 0 1rem;
	.answer-detail-comment-persion-icon{
		position: absolute;
		display: block;
		top:0;
		left: 0;
		width: 0.8rem;
		height: 0.8rem;
		border-radius: 0.8rem;
	}
	.answer-detail-comment-person-name{
		display: block;
		font-size: 0.26rem;
		color: #333333;
		line-height: 0.5rem;
		height: 0.5rem;
		white-space:nowrap;
		overflow:hidden; 
		text-overflow:ellipsis;
	}
	.answer-detail-comment-publish-time{
		display: block;
		font-size: 0.2rem;
		color: #999999;
		height: 0.3rem;
		white-space:nowrap;
		overflow:hidden; 
		text-overflow:ellipsis;
	} 
}
.answer-detail-comment-text{
	padding-top: 0.2rem;
	display: block;
	font-size: 0.28rem;
	color: #333333;
	line-height: 1.5em;
}
.answer-detail-comments-footer{
	display: block;
	font-size: 0.28rem;
	color: #18aef9;
	text-align: center;
	line-height: 0.8rem;
}

.comment-from{
	.comment-from-bg{
		position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000000;
        opacity: .5;
        z-index: 1000;
	}
	.comment-from-content{
		position: fixed;
		background-color: #efefef;
        top: 1.38rem;
        left: 50%;
        border-radius: 5px;
        width: 7.04rem;
        height: 3.7rem;
        margin-left: -3.52rem;
        z-index: 1000;
        overflow: hidden;
        padding: 0.34rem 0 0 0;
	}
	.comment-from-text-box{
		position: relative;
		display: block;
		overflow: hidden;
		width: 6.5rem;
		height: 2.48rem;
		margin: 0 0.2rem;
		background-color: #ffffff;
		border-radius: 5px;
		border:1px solid #dcdcdc;
	}
	.comment-from-text{
		position: absolute;
		display: block;
		width: 6.9rem;
		height: 2.48rem;
		left: -0.2rem;
		font-size: 0.3rem;
		line-height: 1.5em;
		padding: 0.2rem 0.5rem;
		outline: none;
		border:none;
		background-color: #ffffff;	
	}
	.comment-from-btn{
		position: relative;
		display: block;
		height: 0.8rem;
		line-height: 0.8rem;
		width: 100%;
		text-align: center;
		font-size: 0.35rem;
		span{
			display: inline-block;
			width: 3.52rem;
			height: 0.8rem
		}
	}
	
	.comment-from-btn-cancle,{
		color: #333333;
	}
	.comment-from-btn-ok{
		color: #999999;
	}
}




